{% extends "core/base.html" %}


{% block title %}HOME{% endblock %}
{% block description %}Who the fuck called me. For reals?{% endblock %}
{% block keywords %}called, call, log, history, creeper, info, telephony, voip, telco, lookup{% endblock %}


{% block css %}

<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>

{% endblock %}


{% block js %}

    <script type="text/javascript">
        // Dajaxice error handler.
        Dajaxice.setup({'default_exception_callback': function(){ alert('Error!'); }});

        // Query our backend to lookup caller ID name information.
        function cnam_callback(data) {
            resultdiv = document.getElementById('cnam');
            resultdiv.innerHTML = "<p>Looks like the dude who's been bugging you is: " + data.cnam + "</p>";
            return false;
        }
    </script>

{% endblock %}


{% block body %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Who the FUCK Called Me?</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <h1>Hate People Calling Your Phone?</h1>
    <p>We do too! Just enter the person's phone number below, and hit the
    button. We'll dig up the dirt.</p>

    <form class="well form-search" onsubmit="return Dajaxice.apps.core.lookup_cnam(cnam_callback, {'phone_number': document.getElementById('phone_number').value})">
        <input type="text" class="input-medium search-query" id="phone_number">
        <input type="submit" class="btn" value="Get 'Em">
    </form>
    <div id="cnam"></div>

</div> <!-- /container -->

{% endblock %}
