{% extends "core/base.html" %}


{% block title %}HOME{% endblock %}
{% block description %}Who the fuck called me. For reals?{% endblock %}
{% block keywords %}called, call, log, history, creeper, info, telephony, voip, telco, lookup{% endblock %}


{% block css %}

<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>

{% endblock %}


{% block js %}

    <script type="text/javascript">
        function cnam_callback(data) {
            alert(data.cnam);
        }
    </script>

{% endblock %}


{% block body %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <h1>Bootstrap starter template</h1>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

    <form class="well form-search">
        <input type="text" class="input-medium search-query" id="phone_number">
        <button type="submit" class="btn" onclick="Dajaxice.apps.core.lookup_cnam(cnam_callback, {'phone_number': document.getElementById('phone_number').value})">Find 'Em</button>
    </form>

</div> <!-- /container -->

{% endblock %}
